body{
    /* font-family: 'Barlow', sans-serif;
    font-family: 'Fraunces', serif;   */
    margin:0;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Fraunces', serif;  
}

p{
    font-size:18px;
    font-family: 'Barlow', sans-serif;
}

img{
    width:100%;
    height: 100%;

}

.nav img{
    width:60px !important;
}

footer{
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: hsl(168, 34%, 61%);
}

footer img{
    width: 6rem;
}

.nav2 ul{
list-style: none;
}

.nav2 li{
    display: inline-flex;
}

.container{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr ; 
    grid-template-rows:1fr 1fr 0.5fr 0.5fr 1fr 1fr 1fr ;
    height: 100vh;

}

#header{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 100vh;
    background-image: url("../../images/desktop/image-header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center; 
    position:relative;    
}

h1{
    font-size:5rem;
    text-transform: uppercase;
    letter-spacing:10px;
    color:#fff;
    text-align: center;
}

.arrow{
    width:50px;
    position: absolute;
    left:49%;
    top:2%;
}

.nav{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start:1;
    grid-row-end:1;
    height: 40px;
    width:100%;
    z-index:100;
    display: inline-flex;
}

.nav li{
    list-style-type: none;
    display: inline-flex;

}

.brand{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3; 
    padding: 20%;
}

.brand-image{

    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3; 

}


.stand-out{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4; 
    padding:20%;
}

.stand-out-image{
    grid-column-start: 1;
    grid-column-end: 3; 
    grid-row-start: 3;
    grid-row-end: 4; 
}

.brand p, .stand-out p{
    color:hsl(232, 10%, 55%);
    line-height:1.7em;
}

.brand h2, .stand-out h2{
font-size:3rem;
}

.brand a, .stand-out a{
    font-family: 'Fraunces', serif;  
    text-transform: uppercase;
    text-decoration:none;
    color:#000;
    }

.design{
    grid-column-start: 1;
    grid-column-end: 3; 
    position:relative;
}


.photography{
    grid-column-start: 3;
    grid-column-end: 5;
    position:relative;
}

.typeA{
position:absolute;
top:60%;
text-align: center;
padding: 0 25%;
line-height: 1.7rem;
color:hsl(167, 40%, 24%);
}

.typeB{
    position:absolute;
    top:60%;
    text-align: center;
    padding: 0 30%;
    line-height: 1.7rem;
    color: hsl(198, 62%, 26%);
}

.typeA h3, .typeB h3{
    font-size:2rem;
}
.testi{
    grid-column-start: 1;
    grid-column-end: 5;
    padding: 10% 15%;
}

.testi h3{
    text-transform: uppercase;
    text-align: center;
    padding: 0 0 5% 0;
    color:hsl(210, 4%, 67%);
}

.testimonials{
    grid-column-start:1;
    grid-column-end:5;
    display: inline-flex;
    justify-content: center;
    text-align: center;
}

.testimonials img{
    width:60px;
    height: 60px;
    border-radius: 50%;
    justify-content: center;
}

.testimonials p{
    color: hsl(213, 9%, 39%);
    line-height: 1.7rem;
}

.job-title{
    color:hsl(210, 4%, 67%) !important;
    font-size: 0.8rem;
}

.author-1{
    padding: 0 6% 0 0;
}
.author-2{
    padding: 0 6%;
}
.author-3{
    padding: 0  0 0 6%;
}



